* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: #000;
  text-decoration: none;
}

fieldset {
  border: none;
}
